*{box-sizing:border-box;margin:0;padding:0;font-size:14px;font-family:PingFangSC-Regular,Verdana,Arial,微软雅黑,宋体,sans-serif;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
li,ol,ul{list-style:none;}
table{border-collapse:collapse;}
img,input{border:0;}
input{padding:0 10px;}
textarea{padding:10px;}
body,html{height:100%;background-color:#313131;color:#fff;}
a{display:inline-block;color:#5CACEE;text-decoration:none;transition:color .5s;}
a:hover{color:#FFA54F;}
.clearfix:after,.container:after,.ctn:after,.ctn-big:after{clear:both;display:table;content:"";}
.ctn{margin:0 auto;width:1200px;}
.note{margin:0 auto;width:1200px;padding:20px 0;}
.note>li{font-size:16px;line-height:32px;}
.note>li:nth-child(1){font-size:20px;}

/*btn*/
.btn{padding:8px 12px;border:1px solid;color:#fff;cursor:pointer;}
.btn-blue{background:#5CACEE;}
.btn-orange{background:#FFA54F;}

/*close*/
.close{width:36px;height:36px;border:2px solid;border-radius:50%;color:#ccc;text-align:center;line-height:32px}
.close-blue{background-color:#5CACEE;}
.close-orange{background-color:#FFA54F;}

/*position*/
.relative{position:relative;}
.fixed-right-bottom{position:fixed;right:0;bottom:0;z-index:99;}

/*display*/
.flex{display:flex;}
.none{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.table-cell{display:table-cell;}

/*float*/
.float-left{float:left;}
.float-right{float:right;}

/*color*/
.red{color:#be3948;}
.blue{color:#5CACEE;}
.orange{color:#FFA54F;}

/*background*/
.bg-blue{background:#5CACEE;}
.bg-white{background:white;}

/*text-align*/
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}

/*other*/
.middle{vertical-align:middle;}
.flex-center{display:flex;height:100%;justify-content:center;align-items:center;flex-wrap:wrap;}

/*icon*/
.icon-warn{display:inline-block;width:12px;height:12px;background:url(data:image/gif;base64,R0lGODlhDAAMAMQQAL45SP36+/jr7MlbaMA+TOOqsOOrsc5pdM1oc96bovrx8speauq+w/HV2MxkcMFCUf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABAALAAAAAAMAAwAAAVDIAQFxkEQhxGIkLAAcLwI4xArSjyQMSAIPQOi12j0EIQeg9E79RKJ3sPRqwIchZ6oVwjYYFvYrvXtDWiiQOEAQ3RFIQA7) no-repeat center;}


