<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ES6字符串方法扩展</title>
    <link rel="shortcut icon" href="../../../img/ico.ico">
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../../css/monokai.css">
</head>

<body>
    <h1>ES6字符串方法扩展</h1>
    <ul class="note list-style-dot">
        <li>总结</li>
        <li>1、{}</li>
        <li>2、codePiont()、String.fromCodePoint()</li>
        <li>3、字符串遍历方法for of</li>
        <li>4、includes()、startsWith()、endsWith()</li>
        <li>5、repeat()</li>
        <li>6、模板字符串``</li>
        <li>7、padStart()、padEnd()</li>
        <li>8、标签模板</li>
        <li>9、String.raw()</li>
    </ul>

    <div class="ctn">
        <pre><code id="code"></code></pre>
    </div>

    <div class="fixed-right-bottom">
        <a href="https://blog.csdn.net/exialym/article/details/51643722" target="_blank">参考博文1</a>
        <a href="https://www.cnblogs.com/lxxhome/p/7656231.html" target="_blank">参考博文2</a>
    </div>

    <script src="../../../js/common.js"></script>
    <script src="../../../js/highlight.min.js"></script>
    <script id="jsCo">
        T('一、{}');
        /* --
        在ES5中，Unicode 编码必须是 \uxxxx 形式的，少与4位不行，多于4位必须拆成两个4位的来表示。(xxxx是16进制的)
        在ES6中，将一个码点值放在大括号中可以自动解析，与双字节表示等价。
        -- */
        {
            console.log("\uD842\uDFB7"); // 𠮷
            console.log("\u20BB7"); // ₻7
            console.log("\u{20BB7}"); // 𠮷
            // console.log("\u41");Uncaught SyntaxError: Invalid Unicode escape sequence未捕获语法错误：Unicode转义序列无效
            console.log("\u{41}"); // A
            console.log('\u{1F680}' === '\uD83D\uDE80'); // true
        }
        console.hr('----------分割线----------');

        T('二、对Unicode支持：codePointAt()、String.fromCodePoint()');
        /* --
        背景：在ES5中，我们经常使用 charAt(num) 方法返回指定位置的字符，用 charCodeAt(num) 方法返回指定位置的字符的 Unicode 编码。这个返回值是 0 - 65535 之间的整数。
        在JavaScript内部，字符以 UTF-16 的形式存储，每个字符固定为2个字节，对于那些需要4个字节来储存的字符Javascript认为它们是2个字符。
        此时 charAt() 方法和 charCodeAt() 方法都无法完整获取这样的字符和它的 Unicode 编码。
        因此，ES6使用 codePointAt() 方法来支持存储4字节的字符。
        -- */
        {
            let str = '𠮷';
            console.log(str.length);
            console.log(str.charAt(0));
            console.log(str.charAt(1));
            console.log(str.charCodeAt(0)); // 55362
            console.log(str.charCodeAt(1)); // 57271
            console.log(str.charCodeAt(0).toString(16)); // d842
            console.log(str.charCodeAt(1).toString(16)); // dfb7
            console.log('\ud842\udfb7') // 𠮷

            console.log(str.codePointAt(0)); // 134071
            console.log(str.codePointAt(1)); // 57271 取后面两个字节的值，和str.charCodeAt(1)取到的值一样
        }

        {
            console.log(String.fromCharCode("0x20bb7")); // ஷ
            console.log(String.fromCodePoint("0x20bb7")); // 𠮷
        }
        console.hr('----------分割线----------');

        T('三、字符串遍历方法 for of');
        {
            let str = '\u{20bb7}abc';
            for (let i = 0; i < str.length; i++) {
                console.log(str[i]);
            }

            for (let code of str) {
                console.log(code);
            }
        }
        console.hr('----------分割线----------');

        T('四、includes()、startsWith()、endsWith()：判断字符串是否包含在另一个字符串中');
        {
            let str = 'string';
            console.log(str.includes('aaa')); // 返回布尔值，表示是否找到了参数字符串。
            console.log(str.startsWith('str')); // 返回布尔值，表示参数字符串是否在源字符串的头部。
            console.log(str.endsWith('ng')); // 返回布尔值，表示参数字符串是否在源字符串的尾部。
        }

        // 接受第二个参数，可选的，表示开始搜索的位置。
        {
            var str = 'yuan is an animal';
            console.log(str.startsWith('an', 3));
            console.log(str.endsWith('an', 10));
            console.log(str.includes('an', 11));
        }
        console.hr('----------分割线----------');

        T('五、repeat()：字符串重复复制');
        {
            let str = "abc";
            console.log(str.repeat(2));
        }
        console.hr('----------分割线----------');

        T('六、模板字符串：由一组模板生成的一串字符串');
        {
            let x = 1;
            let y = 2;

            let str1 = `${x} + ${y * 2} = ${x + y * 2}`;
            console.log(str1);

            let obj = { x: 1, y: 2 };
            let str2 = `${obj.x + obj.y}`;
            console.log(str2);

            function fn() {
                return "Hello World";
            }
            let str3 = `I am Ethan ${fn()}, Nice!`; // ${}里面也可以放一个函数
            console.log(str3);
        }
        console.hr('----------分割线----------');

        T('实例：模板编译');
        {
            var template = `
            <ul>
                <% for(var i=0; i < data.supplies.length; i++) { %>
                <li><%= data.supplies[i] %></li>
                <% } %>
            </ul>`;

            function compile(template) {
                var evalExpr = /<%=(.+?)%>/g;
                var expr = /<%([\s\S]+?)%>/g;

                template = template.replace(evalExpr, '`); \n  echo( $1 ); \n  echo(`')
                    .replace(expr, '`); \n $1 \n  echo(`');
                template = 'echo(`' + template + '`);';
                console.log(template);

                var script = `(function parse(data){
            var output = "";

            function echo(html){
              output += html;
            }

            ${ template}

            return output;
          })`;
                console.log(script);
                return script;
            }

            var parse = eval(compile(template));
            console.log(parse({ supplies: ["Ethan", "Hello", "World"] }));
        }

        preTi('这里就是使用正则表达式将 template模板 转换成了类似如下代码并以字符串形式返回，然后使用eval方法把它变成可执行的。');
        /* --
        echo('<ul>');
        for (var i = 0; i < data.supplies.length; i++) {
            echo('<li>');
            echo(data.supplies[i]);
            echo('</li>');
        };
        echo('</ul>'); 
        -- */

        /* --
        (function parse(data) {
            var output = "";

            function echo(html) {
                output += html;
            }

            echo(`<ul>`);
            for (var i = 0; i < data.supplies.length; i++) {
                echo(`<li>`);
                echo(data.supplies[i]);
                echo(`</li>`);
            }
            echo(`</ul>`);

            return output;
        }) 
        -- */
        console.hr('----------分割线----------');

        T('七、padStart()、padEnd()：ES7中推出了字符补全长度的功能，如果某个字符串不够指定长度，就会在头部或尾部补全。');
        /* --
        {
            console.log('1'.padStart(2, '0')); // 01
            console.log('1'.padEnd(2, '0')); // 01
    
            console.log('x'.padStart(5, 'ab')); // 'ababx'
            console.log('x'.padStart(4, 'ab')); // 'abax'
    
            console.log('abc'.padStart(10, '0123456789')); // '0123456abc'
    
            console.log('123456'.padStart(10, '0')); // "0000123456"
            console.log('12'.padStart(10, 'YYYY-MM-DD')); // "YYYY-MM-12"
            console.log('09-12'.padStart(10, 'YYYY-MM-DD')); // "YYYY-09-12"
        }
        -- */
        console.hr('----------分割线----------');

        T('八、标签模板：这是函数调用的一种特殊形式，标签指的就是函数，紧跟在后的模板字符串就是它的参数。第一个参数是被插入值分割成数组的字符串，后面就依次是插入值了。');
        {
            let user = {
                name: 'Ethan ',
                info: 'Hello World'
            };
            console.log(abc`I am ${user.name}!${user.info}`);

            function abc(s, v1, v2) {
                console.log(s);
                console.log(s[0]); // 'I am '
                console.log(s[1]); // '1'
                console.log(s[2]); // ''
                console.log(v1); // 'Ethan '
                console.log(v2); // 'Hello World'
                console.log(s, v1, v2);
                return s + v1 + v2
            }
        }
        console.hr('----------分割线----------');

        {
            var a = 5;
            var b = 10;

            function tag(s, v1, v2) {
                console.log(s[0]); // 'Hello '
                console.log(s[1]); // ' world '
                console.log(s[2]); // ''
                console.log(v1); // '15'
                console.log(v2); // '50'
                console.log(s, v1, v2);

                return s + v1 + v2
            }

            console.log(tag`Hello ${a + b} world ${a * b}`);
        }
        console.hr('----------分割线----------');

        T('实例：过滤HTML字符串， 以防用户输入恶意内容。');
        {
            var sender = '<i>Tom</i>';
            var message = SaferHTML`<p>${sender} has sent you a message.</p>`;
            console.log(message);

            function SaferHTML(templateData) {
                var str = templateData[0];
                for (var i = 1; i < arguments.length; i++) {
                    var arg = String(arguments[i]);

                    // 转义替换中的特殊字符。
                    str += arg.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");

                    // 不要转义模板中的特殊字符。
                    str += templateData[i];
                }
                return str;
            }
        }
        console.hr('----------分割线----------');

        T('九、String.raw()：唯一一个内置的模板字符串标签函数，是用来获取一个模板字符串的原始字面量值的。');
        T('1、语法');
        {
            /* --
            String.raw`templateString`;
            参数：templateString 必需，模板字符串
            -- */

            console.log(String.raw`Hi\n${1 + 2}`);
            console.log(`Hi\n${1 + 2}`);

            /* --
            String.raw(obj, ...substitutions);
            参数：obj： 必需，一个模板字符串的“调用点对象”。类似{ raw: ['foo', 'bar', 'baz'] }
            参数：...substitutions： 可选，任意个可选的参数，表示任意个内插表达式对应的值
            -- */
            console.log(String.raw({ raw: 'test' }, 1, 2, 3, 4));
            console.log(String.raw({ raw: ['t', 'e', 's', 't'] }, 1, 2, 3, 4));

            // 执行原理如下
            String.raw = function (strings, ...values) {
                var output = "";
                for (var index = 0; index < strings.raw.length - 1; index++) {
                    output += strings.raw[index] + values[index];
                }
                output += strings.raw[index]
                console.log(output);
                return output;
            }({ raw: ['t', 'e', 's', 't'] }, 1, 2, 3, 4);
            // 可以用在字符串或数组的插入组成新字符串。

        }

        T('3、返回：给定模板字符串的原始字面量值。');
        T('4、异常：如果第一个参数没有传入一个格式良好的调用点对象，则会抛出 TypeError 异常。');
        T('5、妙用：我们经常会需要在js文件中书写 html 或者 css。在这种场景下，使用模板字符串是个很好的方式，这样就不需要进行复杂而丑陋的字符串拼接了。');
        {
            var html = String.raw;
            html = `<p>哈哈哈</p>`
            // append.innerHTML = html;
        }
    </script>
    <script>
        appendCode('jsCo', 'code');
        hljs.initHighlightingOnLoad();
    </script>
</body>

</html>